/JavaFXHello/nbproject/private/
/JavaFXHello/build/
/File/nbproject/private/
/LearnException/nbproject/private/
/LearnException/build/
/Test2/nbproject/private/
/Test2/build/
/JavaSwing/nbproject/private/
/BT1611/nbproject/private/
/BT1611/build/
/BT/nbproject/private/
/BT/build/
/JavaFXTest/nbproject/private/
/TestFX/nbproject/private/
/JavaSwing/build/
